Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

.pre-commit-config.yaml:

# Pre-commit hooks for RAG-Templates
# Install with: pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Custom local hooks for compliance
  - repo: local
    hooks:
      # TDD compliance check for contract tests
      - id: tdd-compliance
        name: TDD Compliance Check
        entry: python scripts/validate_tdd_compliance.py
        language: python
        files: 'tests/contract/.*\.py$|tests/.*_contract\.py$'
        pass_filenames: false
        additional_dependencies: [GitPython]
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Task mapping validation
      - id: task-mapping
        name: Requirement-Task Mapping Check
        entry: python scripts/validate_task_mapping.py
        language: python
        files: '(spec|tasks)\.md$'
        pass_filenames: false
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Check for good error messages in new tests
      - id: error-message-quality
        name: Error Message Quality Reminder
        entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
        language: system
        files: 'tests/.*\.py$'
        pass_filenames: false
        always_run: false

# Configuration
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]

fix: critical schema manager bugs (caching, attributes, foreign key)
  config/memory_config.yaml
  iris_rag/storage/schema_manager.py
  scripts/fix_entities_foreign_key.py
  tests/test_schema_manager_bugs.py
Due: error-message-quality

fix: critical performance improvements from production indexing feedback
  RAG_TEMPLATES_REMAINING_ISSUES.md
  iris_rag/config/manager.py
  iris_rag/storage/schema_manager.py
Due: none

fix: critical performance improvements from production feedback
  DESIGN_ISSUES_CHECKLIST.md
  DSPY_INDEXING_STATUS.md
  DSPY_INTEGRATION_COMPLETE.md
  OPTIMIZATION_APPLIED.md
  RAG_TEMPLATES_REMAINING_ISSUES.md
  config/memory_config.yaml
  iris_rag/config/manager.py
  iris_rag/dspy_modules/__init__.py
  iris_rag/dspy_modules/batch_entity_extraction.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  iris_rag/storage/schema_manager.py
  redaction_changes.json
  scripts/monitor_indexing_live.py
  start_indexing_with_dspy.py
  test_dspy_entity_extraction.py
Due: none

fix: add connection pooling and JSON parsing retry for production performance
  common/iris_connection_pool.py
  iris_rag/services/entity_extraction.py
Due: none

feat: implement batch LLM entity extraction with 3x speedup
  common/batch_utils.py
  config/memory_config.yaml
  iris_rag/core/models.py
  iris_rag/dspy_modules/__init__.py
  iris_rag/dspy_modules/batch_entity_extraction.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  iris_rag/utils/token_counter.py
  pyproject.toml
  specs/041-p1-batch-llm/contracts/batch_extraction_api.md
  specs/041-p1-batch-llm/data-model.md
  specs/041-p1-batch-llm/plan.md
  specs/041-p1-batch-llm/quickstart.md
  specs/041-p1-batch-llm/research.md
  specs/041-p1-batch-llm/spec.md
  specs/041-p1-batch-llm/tasks.md
  tests/contract/test_batch_extraction_contract.py
  tests/contract/test_batch_metrics_contract.py
  tests/contract/test_batch_queue_contract.py
  tests/contract/test_token_counter_contract.py
  tests/integration/test_batch_extraction_e2e.py
  tests/integration/test_batch_performance.py
  tests/integration/test_batch_retry_logic.py
  tests/integration/test_batch_sizing.py
  tests/unit/test_batch_queue.py
  tests/unit/test_batch_sizing.py
  tests/unit/test_token_counter.py
Due: tdd-compliance, task-mapping, error-message-quality

docs: update changelog [skip ci]
  CHANGELOG.md
Due: none

chore: sync from internal repository (2025-10-16)
  common/batch_utils.py
  common/iris_connection_pool.py
  config/memory_config.yaml
  iris_rag/core/models.py
  iris_rag/dspy_modules/batch_entity_extraction.py
  iris_rag/services/entity_extraction.py
  iris_rag/utils/token_counter.py
  pyproject.toml
  tests/contract/test_batch_extraction_contract.py
  tests/contract/test_batch_metrics_contract.py
  tests/contract/test_batch_queue_contract.py
  tests/contract/test_token_counter_contract.py
  tests/integration/test_batch_extraction_e2e.py
  tests/integration/test_batch_performance.py
  tests/integration/test_batch_retry_logic.py
  tests/integration/test_batch_sizing.py
  tests/unit/test_batch_queue.py
  tests/unit/test_batch_sizing.py
  tests/unit/test_token_counter.py
Due: tdd-compliance, error-message-quality

feat: add Multi-Query RRF pipeline and IRIS DSPy adapter
  contrib/retrieve-dspy/COMPLEX_EXAMPLES_ANALYSIS.md
  contrib/retrieve-dspy/DEMO_README.md
  contrib/retrieve-dspy/INTEGRATION_STEPS.md
  contrib/retrieve-dspy/PULL_REQUEST_TEMPLATE.md
  contrib/retrieve-dspy/QUIPLER_COMPATIBILITY.md
  contrib/retrieve-dspy/README_IRIS_SECTION.md
  contrib/retrieve-dspy/STATUS.md
  contrib/retrieve-dspy/basic_example.py
  contrib/retrieve-dspy/demo_pipeline_multi_query.py
  contrib/retrieve-dspy/demo_quipler_iris.py
  contrib/retrieve-dspy/demo_simple_multi_query.py
  contrib/retrieve-dspy/iris_database.py
  contrib/retrieve-dspy/test_iris_database.py
  iris_rag/__init__.py
  iris_rag/pipelines/multi_query_rrf.py
  tests/integration/test_multi_query_rrf_e2e.py
Due: error-message-quality

docs: rewrite README with developer focus and accurate pipeline info
  README.md
Due: none

fix(graphrag): fix 3 critical entity extraction bugs blocking production
  GRAPHRAG_BUGS_FIXED.md
  check_graphrag_vtix.py
  config/memory_config.yaml
  create_mcp_test_fixture.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/mcp/mcp_tool_schema.json
  iris_rag/mcp/tool_schemas.py
  iris_rag/pipelines/graphrag.py
  iris_rag/services/entity_extraction.py
  tests/fixtures/dat/mcp-basic-rag-5docs/metadata.json
  tests/integration/conftest.py
  tests/integration/test_mcp_basic_rag.py
Due: error-message-quality

fix(graphrag): fix 3 critical entity extraction bugs blocking production
  CHANGELOG.md
  GRAPHRAG_BUGS_FIXED.md
  config/memory_config.yaml
  create_mcp_test_fixture.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/pipelines/graphrag.py
  iris_rag/services/entity_extraction.py
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094208.html
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094208.json
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094440.html
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094440.json
  redaction_changes.json
  tests/fixtures/dat/mcp-basic-rag-5docs/metadata.json
Due: none

fix(graphrag): fix Bug #5 - GPT-OSS individual extraction and API key support
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

fix(graphrag): fix Bug #5 - GPT-OSS individual extraction and API key support
  config/memory_config.yaml
  iris_rag/config/default_config.yaml
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  redaction_changes.json
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

fix(graphrag): fix Bug #6 - LiteLLM model name prefix stripping
  iris_rag/dspy_modules/entity_extraction_module.py
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

fix(graphrag): fix Bug #6 - LiteLLM model name prefix stripping
  CHANGELOG.md
  iris_rag/dspy_modules/entity_extraction_module.py
  redaction_changes.json
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

Fix Bug #6: Implement DirectOpenAILM to bypass LiteLLM model name stripping
  config/memory_config.yaml
  iris_rag/config/default_config.yaml
  iris_rag/dspy_modules/entity_extraction_module.py
Due: none

fix(graphrag): update Bug #6 tests to test DirectOpenAILM implementation
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

fix(graphrag): replace register_custom_models with DirectOpenAILM for Bug #6
  iris_rag/dspy_modules/entity_extraction_module.py
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

chore: update redaction log from sync
  redaction_changes.json
Due: none

Force CPU embeddings to avoid GPU contention
  config/memory_config.yaml
  iris_rag/embeddings/manager.py
Due: none

fix(graphrag): fix false negative entity extraction validation bug
  iris_rag/pipelines/graphrag.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

fix(graphrag): complete fix for entity extraction validation - handle batch path too
  iris_rag/pipelines/graphrag.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

fix(graphrag): complete fix for entity extraction validation bug
  iris_rag/pipelines/graphrag.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

feat(embeddings): add module-level cache for SentenceTransformer models
  iris_rag/embeddings/manager.py
  specs/050-fix-embedding-model/contracts/embedding_cache_contract.yaml
  specs/050-fix-embedding-model/data-model.md
  specs/050-fix-embedding-model/plan.md
  specs/050-fix-embedding-model/quickstart.md
  specs/050-fix-embedding-model/research.md
  specs/050-fix-embedding-model/spec.md
  specs/050-fix-embedding-model/tasks.md
  tests/integration/test_embedding_cache_reuse.py
  tests/unit/test_embedding_cache.py
Due: task-mapping, error-message-quality

docs: mark all tasks complete in tasks.md for feature 050
  specs/050-fix-embedding-model/tasks.md
Due: task-mapping
