Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

.pre-commit-config.yaml:

# Pre-commit hooks for RAG-Templates
# Install with: pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Custom local hooks for compliance
  - repo: local
    hooks:
      # TDD compliance check for contract tests
      - id: tdd-compliance
        name: TDD Compliance Check
        entry: python scripts/validate_tdd_compliance.py
        language: python
        files: 'tests/contract/.*\.py$|tests/.*_contract\.py$'
        pass_filenames: false
        additional_dependencies: [GitPython]
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Task mapping validation
      - id: task-mapping
        name: Requirement-Task Mapping Check
        entry: python scripts/validate_task_mapping.py
        language: python
        files: '(spec|tasks)\.md$'
        pass_filenames: false
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Check for good error messages in new tests
      - id: error-message-quality
        name: Error Message Quality Reminder
        entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
        language: system
        files: 'tests/.*\.py$'
        pass_filenames: false
        always_run: false

# Configuration
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]

chore: bump version to 0.5.16 for PyPI release
  pyproject.toml
Due: none

ci: update deprecated GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

ci: fix TDD compliance check for fork PRs
  .github/workflows/tdd-check.yml
Due: none

security: fix Dependabot vulnerabilities in MCP server
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

ci: disable security scanning workflow for private repo
  .github/workflows/security.yml
Due: none

ci: fix security workflow for community repo
  .github/workflows/security.yml
  SECURITY.md
Due: none

ci: fix CI/CD workflows to use uv instead of Poetry
  .github/workflows/ci.yml
Due: none

ci: remove complex workflows requiring missing infrastructure
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix: make OSSF Scorecard non-blocking, remove deprecated semgrep param
  .github/workflows/security.yml
Due: none

fix: remediate CI security scan failures and harden Dockerfiles (#17)
  .github/workflows/security.yml
  .specify/model-routing.yaml
  AGENTS.md
  Dockerfile.mcp
  docker/api/Dockerfile
  docker/base/Dockerfile
  docker/data-loader/Dockerfile
  docker/jupyter/Dockerfile
  docker/nginx/Dockerfile
  specs/001-fix-ci-security-failures/checklists/requirements.md
  specs/001-fix-ci-security-failures/data-model.md
  specs/001-fix-ci-security-failures/plan.md
  specs/001-fix-ci-security-failures/quickstart.md
  specs/001-fix-ci-security-failures/research.md
  specs/001-fix-ci-security-failures/spec.md
  specs/001-fix-ci-security-failures/tasks.md
Due: task-mapping

chore: update repository description and topics in pyproject.toml
  pyproject.toml
Due: none

chore: update repository description and topics in pyproject.toml (#19)
  pyproject.toml
Due: none

chore: update repository description and topics (#51)
  .github/workflows/security.yml
  .specify/model-routing.yaml
  AGENTS.md
  Dockerfile.mcp
  docker/api/Dockerfile
  docker/base/Dockerfile
  docker/data-loader/Dockerfile
  docker/jupyter/Dockerfile
  docker/nginx/Dockerfile
  pyproject.toml
  specs/001-fix-ci-security-failures/checklists/requirements.md
  specs/001-fix-ci-security-failures/data-model.md
  specs/001-fix-ci-security-failures/plan.md
  specs/001-fix-ci-security-failures/quickstart.md
  specs/001-fix-ci-security-failures/research.md
  specs/001-fix-ci-security-failures/spec.md
  specs/001-fix-ci-security-failures/tasks.md
Due: task-mapping

chore: bump version to 0.5.17 for PyPI release
  pyproject.toml
Due: none

fix: correct connection error handling and bump version to 0.5.18
  iris_vector_rag/common/iris_connection.py
  pyproject.toml
Due: none

spec: 065-iris-llm-substrate — iris_llm as IVR LLM substrate
  specs/065-iris-llm-substrate/spec.md
Due: task-mapping

feat(065): iris_llm as IVR LLM substrate — SqlExecutor protocol, IrisLLMDSPyAdapter, GraphRAGToolSet
  iris_vector_rag/__init__.py
  iris_vector_rag/common/iris_globals.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/dspy_modules/iris_llm_lm.py
  iris_vector_rag/executor.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/tools/__init__.py
  iris_vector_rag/tools/graphrag.py
  pyproject.toml
  specs/065-iris-llm-substrate/contracts/graphrag-toolset.md
  specs/065-iris-llm-substrate/contracts/iris-llm-provider.md
  specs/065-iris-llm-substrate/contracts/sql-executor-protocol.md
  specs/065-iris-llm-substrate/data-model.md
  specs/065-iris-llm-substrate/plan.md
  specs/065-iris-llm-substrate/spec.md
  specs/065-iris-llm-substrate/tasks.md
  tests/integration/test_iris_llm_external.py
  tests/unit/test_graphrag_toolset.py
  tests/unit/test_iris_llm_substrate.py
  tests/unit/test_sql_executor.py
Due: task-mapping, error-message-quality

style: apply black/isort formatting from pre-commit hooks
  iris_vector_rag/common/iris_globals.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/dspy_modules/iris_llm_lm.py
  iris_vector_rag/executor.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/tools/__init__.py
  iris_vector_rag/tools/graphrag.py
  specs/065-iris-llm-substrate/plan.md
  specs/065-iris-llm-substrate/spec.md
  tests/integration/test_iris_llm_external.py
  tests/unit/test_graphrag_toolset.py
  tests/unit/test_iris_llm_substrate.py
  tests/unit/test_sql_executor.py
Due: task-mapping, error-message-quality

chore: bump version to 0.5.19, set author to Thomas Dyar
  pyproject.toml
Due: none

chore: sync __version__ to 0.5.19
  iris_vector_rag/__init__.py
Due: none

feat: iris-dev KB Skills package v1.0.0
  iris-dev.toml
  kb/iris-vector-patterns.md
  skills/iris-rag-pipeline/SKILL.md
  skills/iris-vector-search/SKILL.md
Due: none

docs: langchain-intersystems spike plan — 8 research questions for READY 2026
  docs/LANGCHAIN_INTERSYSTEMS_SPIKE.md
Due: none

spike(langchain-intersystems): add spike runner, results, and SPIKE_NOTES for Q1-Q8
  docs/SPIKE_NOTES.md
  docs/spike_results.json
  docs/spike_runner.py
Due: none

feat: iris_colbert in-DB pipeline — Phase 1/2 MaxSim + 26/26 tests passing
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  iris_vector_rag/pipelines/colbert_iris/ingest.py
  iris_vector_rag/pipelines/colbert_iris/maxsim_indb.py
  iris_vector_rag/pipelines/colbert_iris/pipeline.py
  iris_vector_rag/pipelines/colbert_iris/schema.py
  tests/colbert_iris/__init__.py
  tests/colbert_iris/benchmark_scale.py
  tests/colbert_iris/test_colbert_indb.py
Due: error-message-quality

feat: benchmark results + pylate import fix for colbert_iris
  iris_vector_rag/pipelines/colbert_iris/pipeline.py
  tests/colbert_iris/benchmark_results_500docs.json
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

spec(066): ColBERT PLAID centroid pruning Phase 3
  specs/066-colbert-plaid/checklists/requirements.md
  specs/066-colbert-plaid/spec.md
Due: task-mapping

feat(066): PLAID Phase 3 — PLAIDBuilder + PLAIDSearcher, 27/27 tests passing
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/schema.py
  tests/colbert_iris/benchmark_scale.py
  tests/colbert_iris/test_plaid.py
Due: error-message-quality

fix: batch bulk_fetch_maxsim IN-list at 500 params (IRIS limit)
  iris_vector_rag/pipelines/colbert_iris/maxsim_indb.py
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

docs(066): PLAID benchmark summary — crossover analysis and IRIS quirks
  tests/colbert_iris/benchmark_results_summary.md
Due: none

bench(066): T5K results — pruning=0.74 but Stage 2 SQL round-trips dominate
  tests/colbert_iris/colbert_5k_10k_results.json
Due: none

docs(066): update benchmark summary with T5K results and revised PLAID analysis
  tests/colbert_iris/benchmark_results_summary.md
Due: none

spec(067): PLAID ColBERT stored procedure — single CALL replaces 29 round-trips
  specs/067-colbert-plaid-sp/checklists/requirements.md
  specs/067-colbert-plaid-sp/spec.md
Due: task-mapping

clarify(067): 5 clarifications applied to spec
  specs/067-colbert-plaid-sp/spec.md
Due: task-mapping

plan(067): PLAID SP — research, plan, data model, contracts, quickstart
  AGENTS.md
  iris_vector_rag/pipelines/colbert_iris/sp/ColBERTSearch.cls
  specs/067-colbert-plaid-sp/contracts/colbert-search-sp.md
  specs/067-colbert-plaid-sp/data-model.md
  specs/067-colbert-plaid-sp/plan.md
  specs/067-colbert-plaid-sp/quickstart.md
  specs/067-colbert-plaid-sp/research.md
Due: none

tasks(067): 26 tasks across 5 phases for PLAID SP
  specs/067-colbert-plaid-sp/tasks.md
Due: task-mapping

fix(067): remediate all 6 speckit.analyze findings in spec.md
  specs/067-colbert-plaid-sp/spec.md
Due: task-mapping

wip: save session state — spec clarifications, working tree updates
  .claude/settings.local.json
  .config/opencode/compound-knowledge/global/solutions/iris/iris-dbapi-select-not-call-for-procedures.md
  contrib/langchain_intersystems/__init__.py
  docs/LANGCHAIN_INTERSYSTEMS_SPIKE.md
  docs/SPIKE_NOTES.md
  docs/TODO.md
  docs/iris-dbapi-select-not-call-for-procedures.md
  docs/spike_results.json
  docs/spike_runner.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  iris_vector_rag/pipelines/colbert_iris/ingest.py
  iris_vector_rag/pipelines/colbert_iris/pipeline.py
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/graphrag.py
  scripts/deploy_colbert_sp.sh
  scripts/setup_spike_env.sh
  specs/065-iris-llm-substrate/quickstart.md
  specs/065-iris-llm-substrate/research.md
  specs/066-colbert-plaid/spec.md
  specs/067-colbert-plaid-sp/contracts/colbert-search-sp.md
  tests/colbert_iris/benchmark_results_500docs.json
  tests/colbert_iris/colbert_5k_10k_results.json
  tests/colbert_iris/conftest_sp.py
  tests/colbert_iris/test_colbert_indb.py
  tests/colbert_iris/test_colbert_sp.py
  tests/colbert_iris/test_plaid.py
Due: task-mapping, error-message-quality

fix: support _elsdk_.py filename in intersystems-irispython >= 3.4
  iris_vector_rag/common/iris_dbapi_connector.py
Due: none
