Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

tdd-compliance:
  name: TDD Compliance Check
  entry: python scripts/validate_tdd_compliance.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - GitPython
  verbose: true
  always_run: false

task-mapping:
  name: Requirement-Task Mapping Check
  entry: python scripts/validate_task_mapping.py
  language: python
  pass_filenames: false
  verbose: true
  always_run: false

error-message-quality:
  name: Error Message Quality Reminder
  entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
  language: system
  pass_filenames: false
  always_run: false

feat(067): PLAID SP implementation — 12 pass + 2 xfail (perf not production-ready)
  contrib/langchain_intersystems/__init__.py
  docs/TODO.md
  docs/iris-globals-colbert-analysis.md
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  tests/colbert_iris/benchmark_scale.py
  tests/colbert_iris/conftest_sp.py
  tests/colbert_iris/test_colbert_sp.py
Due: error-message-quality

spec(068): ColBERT VecIndex — globals RP-tree ANN replacing SQL HNSW class-lock pain
  specs/068-colbert-vecindex/checklists/requirements.md
  specs/068-colbert-vecindex/spec.md
Due: task-mapping

spec(068): add all-up goals from 066/067, clarification Q1 (vendor .cls), FR-004 updated
  specs/068-colbert-vecindex/spec.md
Due: task-mapping

plan(068): Phase 0+1 complete — research, data model, contracts, quickstart
  AGENTS.md
  specs/068-colbert-vecindex/contracts/python-api.md
  specs/068-colbert-vecindex/data-model.md
  specs/068-colbert-vecindex/plan.md
  specs/068-colbert-vecindex/quickstart.md
  specs/068-colbert-vecindex/research.md
Due: none

tasks(068): 23 tasks across 6 phases for VecIndex ColBERT ANN
  specs/068-colbert-vecindex/tasks.md
Due: task-mapping

feat(068): VecIndex RP-tree ANN — 16/17 tests passing
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  iris_vector_rag/pipelines/colbert_iris/ingest.py
  iris_vector_rag/pipelines/colbert_iris/sp/UserExec.cls
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  iris_vector_rag/pipelines/colbert_iris/vecindex_phase2.py
  pyproject.toml
  scripts/deploy_vecindex.sh
  specs/068-colbert-vecindex/tasks.md
  tests/colbert_iris/benchmark_scale.py
  tests/colbert_iris/conftest_vecindex.py
  tests/colbert_iris/test_vecindex.py
Due: task-mapping, error-message-quality

fix(068): VecIndex BuildTree infinite recursion on degenerate split
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  specs/068-colbert-vecindex/contracts/python-api.md
  specs/068-colbert-vecindex/data-model.md
  specs/068-colbert-vecindex/plan.md
  specs/068-colbert-vecindex/quickstart.md
Due: none

docs(068): T021-T022 — benchmark results, IVG bug fix documented
  specs/068-colbert-vecindex/research.md
  tests/colbert_iris/benchmark_results_summary.md
Due: none

feat(068): benchmark with IVG 1.22.1 SearchJSON — 85x faster than xecute
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  tests/colbert_iris/benchmark_results_vecindex.json
Due: none

fix(068): conftest rename, VecIndex.cls update, benchmark bulk-insert chunking
  docs/iris-globals-colbert-analysis.md
  iris_vector_rag/pipelines/colbert_iris/__init__.py
  iris_vector_rag/pipelines/colbert_iris/ingest.py
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  iris_vector_rag/pipelines/colbert_iris/vecindex_phase2.py
  tests/colbert_iris/benchmark_scale.py
  tests/colbert_iris/conftest.py
  tests/colbert_iris/conftest_sp.py
  tests/colbert_iris/test_colbert_sp.py
  tests/colbert_iris/test_vecindex.py
Due: error-message-quality

fix(068): VecIndex 1.24.0 — vec_search_multi hot path, upstream split fix deferred to IVG
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  iris_vector_rag/pipelines/colbert_iris/vecindex_phase2.py
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

fix(068): IVG 1.25.1 two-means split + document ANN architecture findings
  iris_vector_rag/pipelines/colbert_iris/sp/VecIndex.cls
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

simplify(068): remove dead branches and zero-cost timing stubs
  iris_vector_rag/pipelines/colbert_iris/ingest.py
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

fix: resolve npm security alerts (handlebars, path-to-regexp, picomatch, qs)
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

feat(068): migrate PLAID to IVG 1.26.1 native engine
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
  scripts/deploy_plaid.sh
  tests/colbert_iris/test_plaid.py
Due: error-message-quality

fix(068): share engine between PLAIDBuilder and PLAIDSearcher in benchmark
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

perf(068): sync PLAIDSearch.cls to IVG 1.26.4 (Stage 2 pre-load tokens)
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
Due: none

perf(068): sync PLAIDSearch.cls to IVG 1.27.0 (packed token storage)
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
Due: none

feat(068): benchmark warmup — percentiles exclude first 3 queries, report warm_p50
  tests/colbert_iris/benchmark_scale.py
Due: error-message-quality

simplify(068): remove duplicate PLAIDBuilder methods and candidate_count alias
  iris_vector_rag/pipelines/colbert_iris/plaid.py
Due: none

chore: bump iris-vector-graph pin to >=1.27.0
  pyproject.toml
Due: none

fix(068): PLAIDBuilder/Searcher accept _engine param, remove license-wasting __new__ hack
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  tests/colbert_iris/test_plaid.py
Due: error-message-quality

fix(068): xfail obsolete ColBERTSearch SQL SP tests
  tests/colbert_iris/test_colbert_sp.py
Due: error-message-quality

chore: v0.6.0
  pyproject.toml
Due: none

spec(069): attach_existing_corpus — zero-copy bridge for existing IRIS tables
  specs/069-attach-existing-corpus/checklists/requirements.md
  specs/069-attach-existing-corpus/spec.md
Due: task-mapping

clarify(069): upsert re-attach semantics, 10K acceptance test ceiling
  specs/069-attach-existing-corpus/spec.md
Due: task-mapping

plan(069): implementation plan — single method, 3 IVG calls, zero new tables
  AGENTS.md
  specs/069-attach-existing-corpus/contracts/attach_existing_corpus.py
  specs/069-attach-existing-corpus/data-model.md
  specs/069-attach-existing-corpus/plan.md
  specs/069-attach-existing-corpus/quickstart.md
  specs/069-attach-existing-corpus/research.md
Due: none

tasks(069): 21 tasks across 6 phases — MVP is US1 (11 tasks)
  specs/069-attach-existing-corpus/tasks.md
Due: task-mapping

analyze(069): remediate 3 findings from /speckit.analyze
  specs/069-attach-existing-corpus/contracts/attach_existing_corpus.py
  specs/069-attach-existing-corpus/spec.md
  specs/069-attach-existing-corpus/tasks.md
Due: task-mapping

feat(069): implement attach_existing_corpus — zero-copy bridge to graph + vector search
  iris_vector_rag/pipelines/hybrid_graphrag.py
  specs/069-attach-existing-corpus/tasks.md
  tests/test_attach_corpus.py
Due: task-mapping, error-message-quality

fix(069): remove vector_search xfail — IVG dimension fix resolves TO_VECTOR mismatch
  tests/test_attach_corpus.py
Due: error-message-quality

chore: v0.7.0 — fix version mismatch (__init__.py was 0.5.19, pyproject was 0.6.0)
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

style: black formatting on hybrid_graphrag.py, plaid.py, PLAIDSearch.cls
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
  iris_vector_rag/pipelines/hybrid_graphrag.py
Due: none

spec(070): ObjectScript SDK for IVR — 5 classes, pure SQL + 2 Language=python methods
  specs/070-objectscript-sdk/spec.md
Due: task-mapping

clarify(070): RRF default + pluggable fusion, shared sql/schema.sql, MiniLM-L6 default model
  specs/070-objectscript-sdk/spec.md
Due: task-mapping

plan(070): ObjectScript SDK — 5 .cls files, shared sql/schema.sql, RRF fusion
  AGENTS.md
  specs/070-objectscript-sdk/contracts/RAG.SDK.cls
  specs/070-objectscript-sdk/data-model.md
  specs/070-objectscript-sdk/plan.md
  specs/070-objectscript-sdk/quickstart.md
  specs/070-objectscript-sdk/research.md
Due: none

tasks(070): 22 tasks across 8 phases — MVP is US1+2+3 (Phases 1-5)
  specs/070-objectscript-sdk/tasks.md
Due: task-mapping

analyze(070): remediate 3 findings from /speckit.analyze
  specs/070-objectscript-sdk/spec.md
  specs/070-objectscript-sdk/tasks.md
Due: task-mapping

test(070): harden tests — concrete assertions, phase gates, E2E cross-language gate
  specs/070-objectscript-sdk/tasks.md
Due: task-mapping

feat(070): add overlay use case — SetDefaultTable + GetDefaultTable on Bridge
  specs/070-objectscript-sdk/spec.md
  specs/070-objectscript-sdk/tasks.md
Due: task-mapping

Path conditions:
  tdd-compliance: any of: tests/contract/.*\.py$|tests/.*_contract\.py$
  task-mapping: any of: (spec|tasks)\.md$
  error-message-quality: any of: tests/.*\.py$
