Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

.pre-commit-config.yaml:

# Pre-commit hooks for RAG-Templates
# Install with: pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Custom local hooks for compliance
  - repo: local
    hooks:
      # TDD compliance check for contract tests
      - id: tdd-compliance
        name: TDD Compliance Check
        entry: python scripts/validate_tdd_compliance.py
        language: python
        files: 'tests/contract/.*\.py$|tests/.*_contract\.py$'
        pass_filenames: false
        additional_dependencies: [GitPython]
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Task mapping validation
      - id: task-mapping
        name: Requirement-Task Mapping Check
        entry: python scripts/validate_task_mapping.py
        language: python
        files: '(spec|tasks)\.md$'
        pass_filenames: false
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Check for good error messages in new tests
      - id: error-message-quality
        name: Error Message Quality Reminder
        entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
        language: system
        files: 'tests/.*\.py$'
        pass_filenames: false
        always_run: false

# Configuration
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]

fix: address audit P0 findings — Beta label, Makefile, version, MCP experimental
  Makefile
  README.md
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

fix(AUD-001/002): raise typed exceptions on ingestion/embedding/retrieval failures
  iris_vector_rag/exceptions.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/storage/vector_store_iris.py
  tests/unit/test_basic_rag_ingestion_error.py
  tests/unit/test_error_handling_audi_002.py
Due: error-message-quality

fix: correct insert_vector keyword args (vector_column, dimension, additional_columns, dtype)
  iris_vector_rag/storage/vector_store_iris.py
Due: none

chore: bump iris-vector-graph requirement to >=2.4.6
  pyproject.toml
Due: none

feat(AUD-008): CI tiers — format gate, ruff lint, IRIS smoke workflow, cleanup
  .github/workflows/ci.yml
  .github/workflows/pr-integration.yml
  .github/workflows/security.yml
  pyproject.toml
  pytest.ini
  tests/contract/test_smoke.py
  tox.ini
Due: tdd-compliance, error-message-quality

fix: update ruff config to new format, reformat test_smoke.py
  pyproject.toml
  tests/contract/test_smoke.py
Due: tdd-compliance, error-message-quality

fix(078): pure constructors — no DB on init, lazy schema initialization
  iris_vector_rag/core/base.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  tests/unit/test_pure_constructors.py
Due: error-message-quality

fix(AUD-005): config single authority — port 1972, ConnectionManager uses ConfigurationManager
  iris_vector_rag/config/default_config.yaml
  iris_vector_rag/config/manager.py
  iris_vector_rag/core/connection.py
  tests/unit/test_config_authority.py
Due: error-message-quality

fix(AUD-006): pipeline interface conformance — uniform load_documents/query return shapes
  iris_vector_rag/__init__.py
  iris_vector_rag/core/base.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  tests/unit/test_pipeline_conformance.py
Due: error-message-quality

fix(AUD-006/008/009/010): merge audit fixes — interface conformance, CI tiers, pure constructors, config authority
  .gitignore
  .markdownlint-cli2.jsonc
  docs/reports/CODEBASE_AUDIT_2026-07-19.md
  iris_vector_rag/core/validators.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  pyproject.toml
  specs/075-config-single-authority/plan.md
  specs/075-config-single-authority/spec.md
  specs/076-pipeline-interface-conformance/plan.md
  specs/076-pipeline-interface-conformance/spec.md
  specs/077-ci-tiers/plan.md
  specs/077-ci-tiers/spec.md
  specs/078-pure-constructors/plan.md
  specs/078-pure-constructors/spec.md
  specs/079-schema-prefix/plan.md
  specs/079-schema-prefix/spec.md
  tasks-iris-wrapper-consolidation.md
  tests/unit/test_pipeline_conformance.py
  tests/unit/test_pipeline_validator.py
Due: task-mapping, error-message-quality

fix(AUD-010): configurable schema prefix — replace 65 RAG. literals, instance-level caches
  iris_vector_rag/config/manager.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  tests/contract/test_schema_prefix_contract.py
  tests/unit/test_schema_prefix.py
Due: tdd-compliance, error-message-quality

chore: untrack .codex/config.toml (gitignored, contains local MCP config)
  specs/080-ivr-engine/spec.md
Due: task-mapping

fix(security): bump vulnerable npm deps in tools/nodejs
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

fix(tests): update e2e assertions to match current pipeline contracts
  tests/e2e/test_basic_rerank_pipeline_e2e.py
  tests/e2e/test_configuration_e2e.py
  tests/e2e/test_pylate_pipeline_e2e.py
Due: error-message-quality

fix(tests): use function-scoped fixture in pylate e2e to prevent DBAPI segfault
  tests/e2e/test_pylate_pipeline_e2e.py
Due: error-message-quality

docs: rewrite AGENTS.md, fix skill discovery, update MCP status, add ai extra
  .markdownlint-cli2.jsonc
  AGENTS.md
  README.md
  pyproject.toml
  skills/iris-rag-pipeline/SKILL.md
  skills/iris-vector-search/SKILL.md
Due: none

feat: add IRISVectorEngine — unified engine object (080)
  AGENTS.md
  iris_vector_rag/__init__.py
  iris_vector_rag/core/base.py
  iris_vector_rag/core/engine.py
  iris_vector_rag/validation/factory.py
  specs/080-ivr-engine/plan.md
  specs/080-ivr-engine/spec.md
  specs/080-ivr-engine/tasks.md
  tests/e2e/test_engine_e2e.py
  tests/unit/test_ivr_engine.py
Due: task-mapping, error-message-quality

release: v0.12.0 — IRISVectorEngine unified engine object
  CHANGELOG.md
  RELEASE_NOTES_v0.12.0.md
  iris_vector_rag/__init__.py
  module.xml
  pyproject.toml
Due: none

fix(ci): black formatting, remove [ai] extra, fix uv --all-extras
  .github/workflows/ci.yml
  .github/workflows/security.yml
  AGENTS.md
  CHANGELOG.md
  RELEASE_NOTES_v0.12.0.md
  iris_vector_rag/__init__.py
  iris_vector_rag/core/validators.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/storage/schema_manager.py
  pyproject.toml
  tests/contract/test_schema_prefix_contract.py
  tests/unit/test_config_authority.py
  tests/unit/test_ivr_engine.py
  tests/unit/test_pipeline_conformance.py
  tests/unit/test_pure_constructors.py
  tests/unit/test_schema_prefix.py
Due: tdd-compliance, error-message-quality

fix(ci): use valid uv extras (dev,mcp,api) — evaluation/colbert/dspy not defined
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

spec(065): composable query-time retrieval (MongoDB-inspired DevX)
  specs/065-composable-retrieval/checklists/requirements.md
  specs/065-composable-retrieval/spec.md
Due: task-mapping

spec(065): integrate clarification session 2026-07-22
  specs/065-composable-retrieval/checklists/requirements.md
  specs/065-composable-retrieval/spec.md
Due: task-mapping

plan(065): implementation plan + Phase 0/1 design artifacts
  CLAUDE.md
  specs/065-composable-retrieval/contracts/query_api.md
  specs/065-composable-retrieval/contracts/reranker.md
  specs/065-composable-retrieval/contracts/retrieval_modes.md
  specs/065-composable-retrieval/data-model.md
  specs/065-composable-retrieval/plan.md
  specs/065-composable-retrieval/quickstart.md
  specs/065-composable-retrieval/research.md
Due: none

tasks(065): dependency-ordered, TDD-first task list
  specs/065-composable-retrieval/tasks.md
Due: task-mapping

analyze(065): remediate cross-artifact findings C1,C2,U1,G1,R1,F1
  specs/065-composable-retrieval/plan.md
  specs/065-composable-retrieval/spec.md
  specs/065-composable-retrieval/tasks.md
Due: task-mapping

feat(065): first-PR slice — filtered search fix (US1) + README imports (US8)
  README.md
  iris_vector_rag/__init__.py
  iris_vector_rag/pipelines/basic.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_metadata_filter_applied.py
  tests/contract/test_readme_imports.py
  tests/integration/test_filtered_search.py
Due: tdd-compliance, task-mapping, error-message-quality

docs(065): add HANDOFF.md for resuming locally
  specs/065-composable-retrieval/HANDOFF.md
Due: none

feat(065): Foundational composable layer — QueryOptions, mixin, retrieval scaffolding
  iris_vector_rag/config/default_config.yaml
  iris_vector_rag/core/composable_query.py
  iris_vector_rag/core/query_options.py
  iris_vector_rag/retrieval/__init__.py
  iris_vector_rag/retrieval/engine.py
  iris_vector_rag/retrieval/modes.py
  iris_vector_rag/retrieval/rerank.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_composable_overhead.py
  tests/conftest.py
  tests/contract/test_backward_compat_golden.py
  tests/unit/test_composable_mixin.py
  tests/unit/test_query_options.py
Due: tdd-compliance, error-message-quality

feat(065): US2 — consistent query() signature across all pipelines
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  tests/contract/test_query_signature_parity.py
Due: tdd-compliance, error-message-quality

feat(065): US3 — rerank as query-time option on BasicRAGPipeline
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/retrieval/rerank.py
  tests/contract/test_rerank_option.py
Due: tdd-compliance, error-message-quality

feat(065): US4 — hybrid/rrf retrieval modes, RetrievalEngine, per-source score metadata
  CLAUDE.md
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  iris_vector_rag/retrieval/engine.py
  iris_vector_rag/retrieval/modes.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  specs/065-composable-retrieval/tasks.md
  tests/conftest.py
  tests/contract/test_backward_compat_golden.py
  tests/contract/test_retrieval_modes.py
  tests/integration/conftest.py
  tests/integration/test_filtered_search.py
  tests/integration/test_hybrid_rrf_modes.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): US2 — consistent query() signature across all pipelines (T014–T020)
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_query_signature_parity.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): US3+US6 — rerank on all pipelines, thread-safe resolver cache (T021–T024, T035–T037)
  iris_vector_rag/core/composable_query.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  iris_vector_rag/retrieval/rerank.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_rerank_option.py
  tests/unit/test_reranker_cache.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): US5 — search_by_text / search_by_vector explicit entry points (T032–T034)
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/graphrag_merged.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  iris_vector_rag/retrieval/engine.py
  iris_vector_rag/storage/vector_store_iris.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_metadata_filter_applied.py
  tests/contract/test_query_signature_parity.py
  tests/contract/test_rerank_option.py
  tests/contract/test_retrieval_modes.py
  tests/contract/test_search_return_types.py
  tests/unit/test_composable_mixin.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): US7 — zero-config native IRIS EMBEDDING path (T038–T039)
  iris_vector_rag/pipelines/basic.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_text_in_embedding.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): polish — composable README examples, test mock fixups (T043, T046)
  README.md
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_backward_compat_golden.py
  tests/unit/test_pipelines_unit.py
Due: tdd-compliance, task-mapping, error-message-quality

feat(065): US7 integration test — search_by_text live IRIS validation (T040)
  specs/065-composable-retrieval/tasks.md
  tests/integration/test_text_in_embedding.py
Due: task-mapping, error-message-quality

feat(065): T044 quickstart e2e — fix engine.py TextSearchEngine API, propagate prereq errors
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/retrieval/engine.py
  specs/065-composable-retrieval/tasks.md
Due: task-mapping

feat(065): T047 — structured log fields (retrieval_mode, rerank_strategy, rerank_degraded, weights)
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  specs/065-composable-retrieval/tasks.md
  tests/contract/test_structured_log_fields.py
Due: tdd-compliance, task-mapping, error-message-quality
