Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

tdd-compliance:
  name: TDD Compliance Check
  entry: python scripts/validate_tdd_compliance.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - GitPython
  verbose: true
  always_run: false

task-mapping:
  name: Requirement-Task Mapping Check
  entry: python scripts/validate_task_mapping.py
  language: python
  pass_filenames: false
  verbose: true
  always_run: false

error-message-quality:
  name: Error Message Quality Reminder
  entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
  language: system
  pass_filenames: false
  always_run: false

feat(065): T002/T003/T036/T045 — benchmarks complete, all tasks done
  specs/065-composable-retrieval/tasks.md
  tests/benchmarks/test_reranker_cache.py
Due: task-mapping, error-message-quality

fix(tests): resolve benchmark/unit test isolation — patch at _build level, restore sys.modules
  tests/benchmarks/test_reranker_cache.py
  tests/integration/test_text_in_embedding.py
  tests/unit/conftest.py
  tests/unit/test_reranker_cache.py
Due: error-message-quality

docs: update CHANGELOG, API_REFERENCE, PIPELINE_GUIDE, custom_reranker_guide for 065
  CHANGELOG.md
  docs/API_REFERENCE.md
  docs/PIPELINE_GUIDE.md
  docs/guides/custom_reranker_guide.md
Due: none

docs(readme): remove slop — concrete tagline, drop emoji bullets, cut MongoDB ref, strip puffery
  README.md
Due: none

docs: no-ai-slop pass — cut emoji bullets, puffery, redundant lead-ins across user-facing docs
  docs/CONTRIBUTING.md
  docs/IRIS_EMBEDDING_GUIDE.md
  docs/MCP_INTEGRATION.md
  docs/USER_GUIDE.md
  docs/guides/custom_reranker_guide.md
Due: none

chore: bump version to 0.6.0 for release
  CHANGELOG.md
  docs/API_REFERENCE.md
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

docs: backfill CHANGELOG — complete v0.6.0 through v0.11.4 history, fix version gap
  CHANGELOG.md
Due: none

fix(ci): black formatting + fix graphrag.py _execute_sql/duplicate method
  iris_vector_rag/core/composable_query.py
  iris_vector_rag/core/query_options.py
  iris_vector_rag/pipelines/colbert_iris/schema.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/iris_global_graphrag.py
  iris_vector_rag/retrieval/engine.py
  iris_vector_rag/retrieval/modes.py
  iris_vector_rag/retrieval/rerank.py
  iris_vector_rag/services/storage.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/validation/orchestrator.py
  tests/benchmarks/test_composable_overhead.py
  tests/benchmarks/test_reranker_cache.py
  tests/contract/test_backward_compat_golden.py
  tests/contract/test_dimension_validation_contract.py
  tests/contract/test_graphrag_fixtures.py
  tests/contract/test_metadata_filter_applied.py
  tests/contract/test_query_signature_parity.py
  tests/contract/test_rerank_option.py
  tests/contract/test_retrieval_modes.py
  tests/contract/test_search_return_types.py
  tests/contract/test_structured_log_fields.py
  tests/contract/test_text_in_embedding.py
  tests/e2e/test_crag_pipeline_e2e.py
  tests/fixtures/schema_reset.py
  tests/infrastructure/test_makefile_targets.py
  tests/integration/conftest.py
  tests/integration/test_entity_extraction_logging.py
  tests/integration/test_filtered_search.py
  tests/integration/test_graphrag_realistic.py
  tests/integration/test_graphrag_with_medical20_fixture.py
  tests/integration/test_hybrid_rrf_modes.py
  tests/integration/test_text_in_embedding.py
  tests/unit/test_composable_mixin.py
  tests/unit/test_pipelines_unit.py
  tests/unit/test_query_options.py
  tests/unit/test_reranker_cache.py
  tests/utils/coverage_tracker.py
  tests/utils/preflight_checks.py
  tests/utils/schema_validator.py
Due: tdd-compliance, error-message-quality

fix(ci): pin black==26.5.1, reformat with black 26.x
  .github/workflows/ci.yml
  iris_vector_rag/pipelines/colbert_iris/schema.py
  iris_vector_rag/pipelines/iris_global_graphrag.py
  iris_vector_rag/services/storage.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/validation/orchestrator.py
  tests/contract/test_backward_compat_golden.py
  tests/contract/test_dimension_validation_contract.py
  tests/contract/test_graphrag_fixtures.py
  tests/contract/test_text_in_embedding.py
  tests/e2e/test_crag_pipeline_e2e.py
  tests/fixtures/schema_reset.py
  tests/infrastructure/test_makefile_targets.py
  tests/integration/conftest.py
  tests/integration/test_entity_extraction_logging.py
  tests/integration/test_graphrag_realistic.py
  tests/integration/test_graphrag_with_medical20_fixture.py
  tests/unit/test_reranker_cache.py
  tests/utils/coverage_tracker.py
  tests/utils/preflight_checks.py
  tests/utils/schema_validator.py
Due: tdd-compliance, error-message-quality

wip: IVGTextSearchBackend pluggable BM25 + graph analytics benchmark
  iris_vector_rag/pipelines/hybrid_graphrag_retrieval.py
  iris_vector_rag/pipelines/ivg_bm25_backend.py
  scripts/benchmark_arno_vs_cos.py
Due: none

feat(v0.12.1): composable retrieval (065), AUD-002 error handling, BM25 backend
  CHANGELOG.md
  CLAUDE.md
  iris_vector_rag/__init__.py
  iris_vector_rag/core/validators.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag_retrieval.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  iris_vector_rag/storage/vector_store_iris.py
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/test_error_handling_audi_002.py
  tests/unit/test_pipeline_conformance.py
  tests/unit/test_pipeline_validator.py
  tests/unit/test_pipelines_unit.py
Due: error-message-quality

test(e2e): add 065 composable retrieval e2e tests; fix top_k error match
  tests/e2e/test_basic_pipeline_e2e.py
  tests/e2e/test_basic_rerank_pipeline_e2e.py
  tests/e2e/test_crag_pipeline_e2e.py
Due: error-message-quality

fix(tests): resolve e2e test isolation failures
  tests/e2e/test_graphrag_pipeline_e2e.py
  tests/e2e/test_vector_store_iris_e2e.py
Due: error-message-quality

docs: update CHANGELOG for v0.12.1 — composable retrieval, AUD-002, BM25
  CHANGELOG.md
Due: none

spec(066): dual-level (global/mix) retrieval — LightRAG-inspired
  specs/066-dual-level-retrieval/checklists/requirements.md
  specs/066-dual-level-retrieval/lightrag-comparison.md
  specs/066-dual-level-retrieval/spec.md
Due: task-mapping

spec(081): dual-level (global/mix) retrieval — LightRAG-inspired
  specs/066-dual-level-retrieval/lightrag-comparison.md
  specs/081-dual-level-retrieval/checklists/requirements.md
  specs/081-dual-level-retrieval/lightrag-comparison.md
  specs/081-dual-level-retrieval/spec.md
Due: task-mapping

clarify(081): pin 3 open decisions — degradation, recall@K metric, RRF default
  specs/081-dual-level-retrieval/spec.md
Due: task-mapping

plan(081): implementation plan, research, data-model, contracts, quickstart
  CLAUDE.md
  specs/081-dual-level-retrieval/contracts/keyword-extractor.md
  specs/081-dual-level-retrieval/contracts/query-global-mix.md
  specs/081-dual-level-retrieval/contracts/relation-embedding-store.md
  specs/081-dual-level-retrieval/data-model.md
  specs/081-dual-level-retrieval/plan.md
  specs/081-dual-level-retrieval/quickstart.md
  specs/081-dual-level-retrieval/research.md
Due: none

tasks(081): 35-task TDD breakdown for dual-level (global/mix) retrieval
  specs/081-dual-level-retrieval/tasks.md
Due: task-mapping

analyze(081): apply 8 remediations from speckit.analyze
  specs/081-dual-level-retrieval/tasks.md
Due: task-mapping

feat(081): RelationEmbeddingStore — schema, embed_and_store, search, count_embedded
  iris_vector_rag/common/db_init_complete.sql
  iris_vector_rag/core/query_options.py
  iris_vector_rag/storage/relation_embedding_store.py
  iris_vector_rag/storage/schema_manager.py
  tests/contract/test_relation_embedding_store_contract.py
  tests/integration/conftest.py
  tests/integration/test_relation_embedding_store.py
Due: tdd-compliance, error-message-quality

feat(081/phase4): KeywordExtractor + parse_keywords — dual-level keyword extraction
  iris_vector_rag/retrieval/keyword_extractor.py
  tests/contract/test_keyword_extractor.py
  tests/unit/test_keyword_extractor_unit.py
Due: tdd-compliance, error-message-quality

feat(081/phase5-6): global + mix retrieval modes — RetrievalEngine dispatch
  iris_vector_rag/core/composable_query.py
  iris_vector_rag/retrieval/engine.py
  iris_vector_rag/retrieval/modes.py
  tests/contract/test_global_mix_modes.py
  tests/e2e/test_dual_level_retrieval_e2e.py
Due: tdd-compliance, error-message-quality

feat(081/phase7-8): tunability, logging, CI, CHANGELOG, checklist
  .github/workflows/ci.yml
  CHANGELOG.md
  iris_vector_rag/retrieval/engine.py
  specs/081-dual-level-retrieval/checklists/requirements.md
  specs/081-dual-level-retrieval/tasks.md
  tests/contract/test_keyword_extractor.py
  tests/contract/test_schema_migration.py
  tests/e2e/test_dual_level_retrieval_e2e.py
  tests/unit/test_query_options_081.py
Due: tdd-compliance, task-mapping, error-message-quality

fix(081/e2e): seed KG fixture, run all e2e tests against live IRIS
  tests/e2e/test_dual_level_retrieval_e2e.py
Due: error-message-quality

fix(081/e2e): SC-001 recall benchmark passes with seeded KG data
  tests/e2e/test_dual_level_retrieval_e2e.py
Due: error-message-quality

chore: bump version to 0.13.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix(security): resolve Dependabot npm vulnerabilities in tools/nodejs
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

fix(ci): resolve unit test failures in CI (no OPENAI_API_KEY, no IRIS)
  tests/unit/test_error_handling_audi_002.py
  tests/unit/test_pipeline_conformance.py
Due: error-message-quality

fix(ci): mock OPENAI_API_KEY in test_pipelines_unit query tests
  tests/unit/test_pipelines_unit.py
Due: error-message-quality

fix(compat): support IVG 1.x by falling back to pure-SQL when dbapi_utils absent
  iris_vector_rag/common/db_vector_utils.py
  iris_vector_rag/storage/relation_embedding_store.py
Due: none

fix(deps): add pytest-mock to all dev dependency groups
  pyproject.toml
Due: none

fix(multi_query_rrf): conform to pipeline interface contract (FR-004/006/008)
  iris_vector_rag/pipelines/multi_query_rrf.py
Due: none

fix(ci): add IRIS service, OPENAI_API_KEY, ignore private-repo tests in release workflow
  .github/workflows/release.yml
Due: none

fix(ci): remove invalid health-cmd from IRIS service (iris status not in community image)
  .github/workflows/release.yml
Due: none

feat(pipelines): add HybridGraphRAGPipeline.delete_node (Feature 062)
  iris_vector_rag/pipelines/hybrid_graphrag.py
  specs/062-irisgraphragpipeline-delete-node/checklists/requirements.md
  specs/062-irisgraphragpipeline-delete-node/contracts/delete_node_contract.md
  specs/062-irisgraphragpipeline-delete-node/plan.md
  specs/062-irisgraphragpipeline-delete-node/research.md
  specs/062-irisgraphragpipeline-delete-node/spec.md
  specs/062-irisgraphragpipeline-delete-node/tasks.md
  tests/contract/test_delete_node_contract.py
Due: tdd-compliance, task-mapping, error-message-quality

fix(storage): delete_documents uses dynamic id column (id vs doc_id)
  iris_vector_rag/storage/vector_store_iris.py
Due: none

chore: bump version to 0.14.0
  CHANGELOG.md
  pyproject.toml
Due: none

Path conditions:
  tdd-compliance: any of: tests/contract/.*\.py$|tests/.*_contract\.py$
  task-mapping: any of: (spec|tasks)\.md$
  error-message-quality: any of: tests/.*\.py$
