Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

tdd-compliance:
  name: TDD Compliance Check
  entry: python scripts/validate_tdd_compliance.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - GitPython
  verbose: true
  always_run: false

task-mapping:
  name: Requirement-Task Mapping Check
  entry: python scripts/validate_task_mapping.py
  language: python
  pass_filenames: false
  verbose: true
  always_run: false

error-message-quality:
  name: Error Message Quality Reminder
  entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
  language: system
  pass_filenames: false
  always_run: false

feat(embeddings): add module-level cache for SentenceTransformer models
  CHANGELOG.md
  PUBLIC_SYNC_SETUP_COMPLETE.md
  config/memory_config.yaml
  docs/PUBLIC_REPOSITORY_SYNC.md
  iris_rag/embeddings/manager.py
  redaction_changes.json
  scripts/redact_for_public.py
  scripts/sync_to_public.sh
  tests/integration/test_embedding_cache_reuse.py
  tests/unit/test_embedding_cache.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

docs: update changelog [skip ci]
  CHANGELOG.md
Due: none

fix: resolve PyPI build error and bump to v0.2.1
  iris_rag/__init__.py
  pyproject.toml
  setup.py
  upload_to_pypi.sh
Due: none

chore: update package description and bump to v0.2.2
  iris_rag/__init__.py
  pyproject.toml
Due: none

docs: amend constitution to v1.7.0 (add Git & Release Workflow principle)
  .specify/memory/constitution.md
Due: none

chore: sync PyPI packaging configuration from sanitized repo
  iris_rag/__init__.py
  pyproject.toml
  setup.py
  upload_to_pypi.sh
Due: none

chore: sync from internal repository after PyPI packaging updates
  CHANGELOG.md
  redaction_changes.json
Due: none

fix: include all subpackages in distribution (v0.2.3)
  iris_rag/__init__.py
  pyproject.toml
Due: none

docs: enhance constitution v1.7.1 - add detailed PyPI publishing procedures
  .specify/memory/constitution.md
Due: none

chore: sync redaction changes from internal repository
  pyproject.toml
  redaction_changes.json
Due: none

docs: update constitution with main branch workflow and GitHub setup
  .specify/memory/constitution.md
Due: none

chore: organize root directory - move reports and scripts to archive/examples
  archive/completion_reports/BATCH_EXTRACTION_IMPLEMENTATION.md
  archive/completion_reports/BATCH_EXTRACTION_USAGE_GUIDE.md
  archive/completion_reports/COMPREHENSIVE_PIPELINE_VALIDATION_REPORT.md
  archive/completion_reports/CRAG_FIX_SUMMARY.md
  archive/completion_reports/CRITICAL_VALIDATION_BREAKTHROUGH_REPORT.md
  archive/completion_reports/DEAD_CODE_ANALYSIS.md
  archive/completion_reports/DOCUMENTATION_AUDIT_REPORT.md
  archive/completion_reports/DSPY_INDEXING_STATUS.md
  archive/completion_reports/DSPY_INTEGRATION_COMPLETE.md
  archive/completion_reports/E2E_TEST_RESULTS_SUMMARY.md
  archive/completion_reports/ENTITY_EXTRACTION_IMPROVEMENTS.md
  archive/completion_reports/FEATURE_AUDIT_REPORT.md
  archive/completion_reports/FIXTURE_INFRASTRUCTURE_COMPLETE.md
  archive/completion_reports/GRAPHRAG_BUGS_FIXED.md
  archive/completion_reports/INTEGRATION_COMPLETE.md
  archive/completion_reports/OPTIMIZATION_APPLIED.md
  archive/completion_reports/PRODUCTION_READINESS_REPORT.md
  archive/completion_reports/PUBLIC_SYNC_SETUP_COMPLETE.md
  archive/completion_reports/RAGAS_EVALUATION_BLOCKER.md
  archive/completion_reports/RAG_TEMPLATES_REMAINING_ISSUES.md
  archive/completion_reports/SESSION_5_SUMMARY.md
  archive/completion_reports/SESSION_SUMMARY.md
  archive/completion_reports/TEST_MAPPING_ANALYSIS_REPORT.md
  archive/completion_reports/TEST_VALIDATION_SUMMARY.md
  archive/design_docs/DESIGN_ISSUES_CHECKLIST.md
  archive/design_docs/DOCUMENTATION_INDEX.md
  examples/scripts/check_graphrag_vtix.py
  examples/scripts/create_mcp_test_fixture.py
  examples/scripts/demo_batch_extraction_realistic.py
  examples/scripts/start_indexing_with_dspy.py
  examples/scripts/test_batch_extraction.py
  examples/scripts/test_batch_extraction_debug.py
  examples/scripts/test_dspy_entity_extraction.py
  examples/scripts/test_quality_comparison.py
  specs/051-add-native-iris/spec.md
Due: task-mapping

fix: prevent silent LLM fallback causing 100x slowdown
  iris_rag/services/entity_extraction.py
Due: none

docs: complete Feature 052 planning - root directory cleanup
  specs/052-i-thought-we/contracts/test_root_directory_contract.py
  specs/052-i-thought-we/data-model.md
  specs/052-i-thought-we/plan.md
  specs/052-i-thought-we/quickstart.md
  specs/052-i-thought-we/research.md
  specs/052-i-thought-we/spec.md
Due: task-mapping

docs: generate tasks.md for Feature 052 - root directory cleanup
  specs/052-i-thought-we/tasks.md
Due: task-mapping

chore: move config files to config/, update tool paths (Phase 3)
  Makefile
  config/.coveragerc
  config/.flake8
  config/docker/docker-compose.api.yml
  config/docker/docker-compose.full.yml
  config/docker/docker-compose.iris-only.yml
  config/docker/docker-compose.licensed.yml
  config/docker/docker-compose.mcp.yml
  config/docker/docker-compose.test.yml
Due: none

chore: move scripts to scripts/ directory and update Makefile (Phase 2)
  scripts/activate_env.sh
  scripts/docker/docker-entrypoint-mcp.sh
  scripts/setup/setup_environment_deprecated.sh
  scripts/upload/upload_to_pypi.sh
Due: none

chore: additional cleanup to meet 15-file target (Phase 3 continued)
  baseline_tests.txt
  intersystems-jdbc-3.8.4.jar
  redaction_changes.json
  scripts/rag-setup
Due: none

feat: add MIT LICENSE file for public repository
  LICENSE
  config/pytest-test.ini
Due: none

chore: bump version to 0.2.4 for critical LLM fallback fix
  iris_rag/__init__.py
  pyproject.toml
Due: none

docs: add complete version bump workflow to constitution
  .specify/memory/constitution.md
Due: none

feat: update to iris-vector-graph 1.1.1 top-level imports
  docs/CLAUDE.md
  iris_rag/config/manager.py
  iris_rag/pipelines/hybrid_graphrag.py
  iris_rag/pipelines/hybrid_graphrag_discovery.py
  iris_rag/pipelines/hybrid_graphrag_retrieval.py
  iris_rag/storage/hybrid_schema_manager.py
  iris_rag/storage/schema_manager.py
  iris_rag/validation/requirements.py
  pyproject.toml
  specs/053-update-to-iris/contracts/test_import_iris_vector_graph.py
  specs/053-update-to-iris/data-model.md
  specs/053-update-to-iris/plan.md
  specs/053-update-to-iris/quickstart.md
  specs/053-update-to-iris/research.md
  specs/053-update-to-iris/spec.md
  specs/053-update-to-iris/tasks.md
  tests/conftest.py
  tests/contract/test_error_handling_contract.py
  tests/contract/test_fallback_mechanism_contract.py
  tests/contract/test_hnsw_vector_contract.py
  tests/contract/test_hybrid_fusion_contract.py
  tests/contract/test_import_requirements.py
  tests/contract/test_text_search_contract.py
  tests/integration/test_contract_validation.py
  tests/test_hybrid_graphrag_functional.py
  tests/unit/test_hybrid_graphrag.py
Due: tdd-compliance, task-mapping, error-message-quality

docs: update IRIS_GRAPH_CORE_INTEGRATION.md to use iris_vector_graph naming
  docs/IRIS_GRAPH_CORE_INTEGRATION.md
Due: none

gitignore tracking files
  .gitignore
Due: none

fix: eliminate 99.96% redundant table existence checks in EntityStorageAdapter
  iris_rag/services/storage.py
  tests/unit/test_storage_service.py
Due: error-message-quality

fix: resolve 4 bugs in Feature 051 IRIS EMBEDDING implementation
  iris_rag/config/embedding_config.py
  iris_rag/embeddings/iris_embedding.py
  iris_rag/embeddings/manager.py
  tests/contract/test_iris_embedding_contract.py
Due: tdd-compliance, error-message-quality

fix: replace datetime.UTC with timezone.utc for Python compatibility
  iris_rag/embeddings/entity_extractor.py
Due: none

docs: add Feature 051 completion summary
  specs/051-add-native-iris/FEATURE_COMPLETE.md
Due: none

chore: add fork workflow documentation and update constitution
  .specify/memory/constitution.md
  FORK_WORKFLOW.md
Due: none

docs: update constitution with fork-based workflow (v1.8.0)
  .specify/memory/constitution.md
Due: none

chore: bump version to 0.3.0 for PyPI release
  pyproject.toml
Due: none

fix: EntityExtractionService now respects root-level LLM config (v0.3.1)
  iris_rag/services/entity_extraction.py
  pyproject.toml
Due: none

Path conditions:
  tdd-compliance: any of: tests/contract/.*\.py$|tests/.*_contract\.py$
  task-mapping: any of: (spec|tasks)\.md$
  error-message-quality: any of: tests/.*\.py$
