Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

.pre-commit-config.yaml:

# Pre-commit hooks for RAG-Templates
# Install with: pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Custom local hooks for compliance
  - repo: local
    hooks:
      # TDD compliance check for contract tests
      - id: tdd-compliance
        name: TDD Compliance Check
        entry: python scripts/validate_tdd_compliance.py
        language: python
        files: 'tests/contract/.*\.py$|tests/.*_contract\.py$'
        pass_filenames: false
        additional_dependencies: [GitPython]
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Task mapping validation
      - id: task-mapping
        name: Requirement-Task Mapping Check
        entry: python scripts/validate_task_mapping.py
        language: python
        files: '(spec|tasks)\.md$'
        pass_filenames: false
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Check for good error messages in new tests
      - id: error-message-quality
        name: Error Message Quality Reminder
        entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
        language: system
        files: 'tests/.*\.py$'
        pass_filenames: false
        always_run: false

# Configuration
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]

fix: add comprehensive logging for entity extraction (v0.3.2)
  README.md
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/pipelines/graphrag.py
  pyproject.toml
Due: none

fix: add comprehensive entity extraction logging to EntityExtractionService (v0.3.3)
  iris_rag/services/entity_extraction.py
  pyproject.toml
  tests/integration/test_entity_extraction_logging.py
Due: error-message-quality

fix: rebuild package correctly with proper structure (v0.5.1)
  CHANGELOG.md
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

docs: update constitution with critical PyPI publishing procedures (v1.8.0)
  .specify/memory/constitution.md
Due: none

docs: Feature 055 - comprehensive documentation review and README optimization
  README.md
  docs/API_REFERENCE.md
  docs/EXAMPLE_ENHANCEMENT_GUIDE.md
  docs/IRIS_EMBEDDING_GUIDE.md
  docs/MCP_INTEGRATION.md
  docs/PIPELINE_GUIDE.md
  docs/README.md
  docs/TEST_SETUP.md
  docs/USER_GUIDE.md
  specs/055-perform-top-to/baseline_code_examples.txt
  specs/055-perform-top-to/baseline_link_validation.txt
  specs/055-perform-top-to/baseline_readme_structure.txt
  specs/055-perform-top-to/baseline_report.md
  specs/055-perform-top-to/contracts/code_example_contract.py
  specs/055-perform-top-to/contracts/link_validation_contract.py
  specs/055-perform-top-to/contracts/readme_structure_contract.py
  specs/055-perform-top-to/data-model.md
  specs/055-perform-top-to/final_validation_report.md
  specs/055-perform-top-to/plan.md
  specs/055-perform-top-to/quickstart.md
  specs/055-perform-top-to/research.md
  specs/055-perform-top-to/spec.md
  specs/055-perform-top-to/tasks.md
Due: task-mapping

fix: critical performance improvements from production feedback
  DESIGN_ISSUES_CHECKLIST.md
  DSPY_INDEXING_STATUS.md
  DSPY_INTEGRATION_COMPLETE.md
  OPTIMIZATION_APPLIED.md
  RAG_TEMPLATES_REMAINING_ISSUES.md
  config/memory_config.yaml
  iris_rag/config/manager.py
  iris_rag/dspy_modules/__init__.py
  iris_rag/dspy_modules/batch_entity_extraction.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  iris_rag/storage/schema_manager.py
  redaction_changes.json
  scripts/monitor_indexing_live.py
  start_indexing_with_dspy.py
  test_dspy_entity_extraction.py
Due: none

chore: sync from internal repository (2025-10-16)
  common/batch_utils.py
  common/iris_connection_pool.py
  config/memory_config.yaml
  iris_rag/core/models.py
  iris_rag/dspy_modules/batch_entity_extraction.py
  iris_rag/services/entity_extraction.py
  iris_rag/utils/token_counter.py
  pyproject.toml
  tests/contract/test_batch_extraction_contract.py
  tests/contract/test_batch_metrics_contract.py
  tests/contract/test_batch_queue_contract.py
  tests/contract/test_token_counter_contract.py
  tests/integration/test_batch_extraction_e2e.py
  tests/integration/test_batch_performance.py
  tests/integration/test_batch_retry_logic.py
  tests/integration/test_batch_sizing.py
  tests/unit/test_batch_queue.py
  tests/unit/test_batch_sizing.py
  tests/unit/test_token_counter.py
Due: tdd-compliance, error-message-quality

chore: update package description and bump to v0.2.2
  iris_rag/__init__.py
  pyproject.toml
Due: none

chore: bump version to 0.3.0 for PyPI release
  pyproject.toml
Due: none

fix(graphrag): fix Bug #5 - GPT-OSS individual extraction and API key support
  config/memory_config.yaml
  iris_rag/config/default_config.yaml
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/services/entity_extraction.py
  redaction_changes.json
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

chore: sync from internal repository after PyPI packaging updates
  CHANGELOG.md
  redaction_changes.json
Due: none

fix: resolve PyPI build error and bump to v0.2.1
  iris_rag/__init__.py
  pyproject.toml
  setup.py
  upload_to_pypi.sh
Due: none

fix: replace datetime.UTC with timezone.utc for Python compatibility
  iris_rag/embeddings/entity_extractor.py
Due: none

chore: add fork workflow documentation and update constitution
  .specify/memory/constitution.md
  FORK_WORKFLOW.md
Due: none

fix: resolve 4 bugs in Feature 051 IRIS EMBEDDING implementation
  iris_rag/config/embedding_config.py
  iris_rag/embeddings/iris_embedding.py
  iris_rag/embeddings/manager.py
  tests/contract/test_iris_embedding_contract.py
Due: tdd-compliance, error-message-quality

docs: update changelog [skip ci]
  CHANGELOG.md
Due: none

fix(graphrag): complete fix for entity extraction validation bug
  iris_rag/pipelines/graphrag.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

docs: update constitution with fork-based workflow (v1.8.0)
  .specify/memory/constitution.md
Due: none

fix(graphrag): replace register_custom_models with DirectOpenAILM for Bug #6
  iris_rag/dspy_modules/entity_extraction_module.py
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

chore: update redaction log from sync
  redaction_changes.json
Due: none

chore: sync redaction changes from internal repository
  pyproject.toml
  redaction_changes.json
Due: none

docs: rewrite README with developer focus and accurate pipeline info
  README.md
Due: none

fix: include all subpackages in distribution (v0.2.3)
  iris_rag/__init__.py
  pyproject.toml
Due: none

fix(graphrag): fix Bug #6 - LiteLLM model name prefix stripping
  CHANGELOG.md
  iris_rag/dspy_modules/entity_extraction_module.py
  redaction_changes.json
  tests/unit/test_graphrag_bug_fixes.py
Due: error-message-quality

fix: eliminate 99.96% redundant table existence checks in EntityStorageAdapter
  iris_rag/services/storage.py
  tests/unit/test_storage_service.py
Due: error-message-quality

fix(graphrag): fix 3 critical entity extraction bugs blocking production
  CHANGELOG.md
  GRAPHRAG_BUGS_FIXED.md
  config/memory_config.yaml
  create_mcp_test_fixture.py
  iris_rag/dspy_modules/entity_extraction_module.py
  iris_rag/pipelines/graphrag.py
  iris_rag/services/entity_extraction.py
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094208.html
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094208.json
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094440.html
  outputs/reports/ragas_evaluations/simple_ragas_report_20251021_094440.json
  redaction_changes.json
  tests/fixtures/dat/mcp-basic-rag-5docs/metadata.json
Due: none

fix: EntityExtractionService now respects root-level LLM config (v0.3.1)
  iris_rag/services/entity_extraction.py
  pyproject.toml
Due: none
