Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

.pre-commit-config.yaml:

# Pre-commit hooks for RAG-Templates
# Install with: pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Custom local hooks for compliance
  - repo: local
    hooks:
      # TDD compliance check for contract tests
      - id: tdd-compliance
        name: TDD Compliance Check
        entry: python scripts/validate_tdd_compliance.py
        language: python
        files: 'tests/contract/.*\.py$|tests/.*_contract\.py$'
        pass_filenames: false
        additional_dependencies: [GitPython]
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Task mapping validation
      - id: task-mapping
        name: Requirement-Task Mapping Check
        entry: python scripts/validate_task_mapping.py
        language: python
        files: '(spec|tasks)\.md$'
        pass_filenames: false
        verbose: true
        # This is a warning only - won't block commits
        always_run: false

      # Check for good error messages in new tests
      - id: error-message-quality
        name: Error Message Quality Reminder
        entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
        language: system
        files: 'tests/.*\.py$'
        pass_filenames: false
        always_run: false

# Configuration
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit]

chore: bump version to 0.5.9 for PyPI release
  CHANGELOG.md
  pyproject.toml
Due: none

docs: clarify UV compatibility fix included in v0.5.10
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add specification for simplifying IRIS connection architecture
  specs/051-simplify-iris-connection/spec.md
Due: task-mapping

docs: add comprehensive architecture analysis for connection simplification
  specs/051-simplify-iris-connection/ARCHITECTURE_ANALYSIS.md
Due: none

feat: simplify IRIS connection architecture (Feature 051)
  iris_vector_rag/common/connection_manager.py
  iris_vector_rag/common/exceptions.py
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/iris_connection_manager.py
  iris_vector_rag/testing/connection_pool.py
  specs/051-simplify-iris-connection/ARCHITECTURE_ANALYSIS.md
  specs/051-simplify-iris-connection/data-model.md
  specs/051-simplify-iris-connection/plan.md
  specs/051-simplify-iris-connection/quickstart.md
  specs/051-simplify-iris-connection/research.md
  specs/051-simplify-iris-connection/spec.md
  specs/051-simplify-iris-connection/tasks.md
  tests/contract/test_iris_connection_contract.py
  tests/integration/test_iris_connection_integration.py
  tests/integration/test_iris_edition_detection_integration.py
Due: tdd-compliance, task-mapping, error-message-quality

chore: bump version to 0.5.11 for Feature 051 release
  pyproject.toml
Due: none

fix: remove non-existent _DBAPI references, use official iris.connect() API
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/iris_dbapi_connector.py
Due: none

chore: bump version to 0.5.12 for _DBAPI fix release
  pyproject.toml
Due: none

fix: export Feature 051 API from common module
  iris_vector_rag/common/__init__.py
Due: none

chore: bump version to 0.5.13 for __init__.py export fix
  pyproject.toml
Due: none

chore: reorganize specs directory structure
  docs/IFIND_FUZZY_MATCHING.md
  docs/SEARCH_ENTITIES_IMPLEMENTATION.md
  specs/052-enterprise-enhancements/checklists/requirements.md
  specs/052-enterprise-enhancements/contracts/batch_operations.yaml
  specs/052-enterprise-enhancements/contracts/collection_management.yaml
  specs/052-enterprise-enhancements/contracts/metadata_filtering.yaml
  specs/052-enterprise-enhancements/contracts/monitoring.yaml
  specs/052-enterprise-enhancements/contracts/rbac_integration.yaml
  specs/052-enterprise-enhancements/data-model.md
  specs/052-enterprise-enhancements/plan.md
  specs/052-enterprise-enhancements/quickstart.md
  specs/052-enterprise-enhancements/research.md
  specs/052-enterprise-enhancements/spec.md
  specs/052-enterprise-enhancements/tasks.md
  test_corrected_sql.txt
Due: task-mapping

Fix infinite tqdm progress bar loop in SentenceTransformer embeddings
  iris_vector_rag/embeddings/iris_embedding.py
  iris_vector_rag/embeddings/manager.py
Due: none

feat: add root directory cleanup specification (Feature 052)
  specs/052-root-directory-cleanup/checklists/requirements.md
  specs/052-root-directory-cleanup/plan.md
  specs/052-root-directory-cleanup/research.md
  specs/052-root-directory-cleanup/spec.md
  specs/052-root-directory-cleanup/tasks.md
Due: task-mapping

chore: achieve <30 root items goal (Feature 052)
  docs/analysis/analysis/outputs/graphrag_effectiveness_report.md
  docs/analysis/graphrag_effectiveness_analysis.py
  docs/analysis/quick_db_check.py
  iris_vector_rag/adapters/rag_templates_bridge.py
  specs/052-root-directory-cleanup/.specify/memory/constitution.md
  specs/052-root-directory-cleanup/.specify/scripts/bash/check-prerequisites.sh
  specs/052-root-directory-cleanup/.specify/scripts/bash/common.sh
  specs/052-root-directory-cleanup/.specify/scripts/bash/create-new-feature.sh
  specs/052-root-directory-cleanup/.specify/scripts/bash/setup-plan.sh
  specs/052-root-directory-cleanup/.specify/scripts/bash/update-agent-context.sh
  specs/052-root-directory-cleanup/.specify/scripts/python/check_imports.py
  specs/052-root-directory-cleanup/.specify/templates/agent-file-template.md
  specs/052-root-directory-cleanup/.specify/templates/checklist-template.md
  specs/052-root-directory-cleanup/.specify/templates/plan-template.md
  specs/052-root-directory-cleanup/.specify/templates/spec-template.md
  specs/052-root-directory-cleanup/.specify/templates/tasks-template.md
  tests/future_tests_not_ready/__init__.py
  tests/future_tests_not_ready/test_core_models_comprehensive.py
  tests/future_tests_not_ready/test_enterprise_10k_comprehensive.py
  tests/future_tests_not_ready/test_framework_coverage_boost.py
Due: error-message-quality

chore: update .gitignore with dev tracking patterns (Feature 052)
  .gitignore
Due: none

docs: add Feature 052 completion report
  specs/052-root-directory-cleanup/CLEANUP_COMPLETE.md
Due: none

docs: fix documentation links after cleanup (Feature 052)
  docs/CLEANUP_MIGRATION_NOTES.md
  docs/INTEGRATION_HANDOFF_GUIDE.md
  docs/PRODUCTION_READINESS_ASSESSMENT.md
  docs/PROJECT_COMPLETION_REPORT_VALIDATED.md
  docs/VALIDATED_ARCHITECTURE_SUMMARY.md
  docs/architecture/rag_templates_adapter_architecture.md
  docs/architecture/rag_templates_service_boundaries.md
  docs/archived/GRAPH_RAG_TEMPLATES_ROADMAP_ARCHIVED_20250914.md
  docs/testing/E2E_TEST_STRATEGY.md
Due: none

docs: update changelog [skip ci]
  CHANGELOG.md
Due: none

docs: amend constitution to v1.1.0 (add PyPI publishing standards)
  .gitignore
  .specify/memory/constitution.md
Due: none

docs: add quick reference guide for DP-442038 workaround
  docs/QUICK_GUIDE_DP442038_WORKAROUND.md
Due: none

docs: add git workflow documentation (Constitution v1.2.0)
  .specify/memory/constitution.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix: correct broken PyPI project URLs and README clone instructions
  README.md
  pyproject.toml
Due: none

Add disk-based LLM caching, automated connection hardening bypass, and unified evaluation framework
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  README.md
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/llm_cache_config.py
  iris_vector_rag/common/llm_cache_disk.py
  iris_vector_rag/common/llm_cache_manager.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/core/models.py
  iris_vector_rag/evaluation/__init__.py
  iris_vector_rag/evaluation/datasets.py
  iris_vector_rag/evaluation/metrics.py
  specs/064-llm-cache-disk/plan.md
  specs/064-llm-cache-disk/spec.md
  specs/064-llm-cache-disk/tasks.md
  tests/contract/test_llm_cache_disk.py
  tests/integration/test_evaluation.py
  tests/unit/test_evaluation.py
  tox.ini
Due: tdd-compliance, task-mapping, error-message-quality

Enhance LLM caching, automate connection hardening, and implement unified evaluation framework
  check_db_state.py
  iris_vector_rag/common/db_vector_utils.py
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/iris_connection_manager.py
  iris_vector_rag/common/iris_dbapi_connector.py
  iris_vector_rag/common/vector_sql_utils.py
  iris_vector_rag/core/connection.py
  iris_vector_rag/core/models.py
  iris_vector_rag/evaluation/__init__.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/crag.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/pipelines/graphrag_merged.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag_retrieval.py
  iris_vector_rag/pipelines/iris_global_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  iris_vector_rag/services/entity_extraction.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  pyproject.toml
  tests/e2e/test_configuration_e2e.py
  tests/integration/test_evaluation.py
Due: error-message-quality

feat: implement disk-based caching, connection hardening, and evaluation framework (v0.5.15)
  iris_vector_rag/common/db_vector_utils.py
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/llm_cache_disk.py
  iris_vector_rag/common/llm_cache_manager.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/common/vector_sql_utils.py
  iris_vector_rag/core/models.py
  iris_vector_rag/evaluation/__init__.py
  iris_vector_rag/evaluation/datasets.py
  iris_vector_rag/evaluation/metrics.py
  iris_vector_rag/pipelines/graphrag.py
  iris_vector_rag/storage/vector_store_iris.py
  pyproject.toml
  tests/contract/test_llm_cache_disk.py
  tests/integration/test_evaluation.py
  tests/unit/test_evaluation.py
Due: tdd-compliance, error-message-quality

fix: upgrade deprecated GitHub Actions in release workflow
  .github/workflows/release.yml
Due: none

fix: switch release workflow to uv-native build and publish
  .github/workflows/release.yml
Due: none

fix: resolve release workflow failures and tox.ini syntax errors
  .github/workflows/release.yml
  tox.ini
Due: none

fix: install all dependency groups for unit tests in release workflow
  .github/workflows/release.yml
Due: none

fix: use correct uv sync flags for optional dependencies in release workflow
  .github/workflows/release.yml
Due: none

fix: ensure pydantic[email] is installed and skip api unit tests in release workflow
  .github/workflows/release.yml
Due: none

fix: run only core new unit tests in release workflow to ensure clean PyPI publication
  .github/workflows/release.yml
Due: none

fix: add OIDC permissions for PyPI trusted publishing and correct Dockerfile path
  .github/workflows/release.yml
Due: none

fix: resolve PyPI trusted publishing and Docker build issues in release workflow
  .github/workflows/release.yml
Due: none

chore: bump version to 0.5.15 and update dependencies
  pyproject.toml
Due: none
