Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

tdd-compliance:
  name: TDD Compliance Check
  entry: python scripts/validate_tdd_compliance.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - GitPython
  verbose: true
  always_run: false

task-mapping:
  name: Requirement-Task Mapping Check
  entry: python scripts/validate_task_mapping.py
  language: python
  pass_filenames: false
  verbose: true
  always_run: false

error-message-quality:
  name: Error Message Quality Reminder
  entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
  language: system
  pass_filenames: false
  always_run: false

feat(070): RAG.SDK ObjectScript SDK — 5 classes, 15 ClassMethods, pure SQL
  iris_src/src/RAG/SDK/Bridge.cls
  iris_src/src/RAG/SDK/Evaluate.cls
  iris_src/src/RAG/SDK/Pipeline.cls
  iris_src/src/RAG/SDK/Schema.cls
  iris_src/src/RAG/SDK/Search.cls
  scripts/deploy_sdk.sh
  scripts/deploy_sdk_tests.sh
  specs/070-objectscript-sdk/tasks.md
  sql/schema.sql
  tests/objectscript/RAG/SDK/Test/PipelineTest.cls
  tests/objectscript/RAG/SDK/Test/SchemaTest.cls
Due: task-mapping

chore: v0.8.0
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

fix: resolve npm security alerts in tools/nodejs
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

fix: resolve CI dependency conflict — pylate 1.4.0 requires sentence-transformers==5.1.1
  pyproject.toml
Due: none

chore: v0.9.0 — IVG 1.50.1 upgrade (BM25, IVFFlat, shortestPath, unified edge store)
  iris_vector_rag/__init__.py
  iris_vector_rag/pipelines/colbert_iris/sp/BM25Index.cls
  iris_vector_rag/pipelines/colbert_iris/sp/EdgeScan.cls
  iris_vector_rag/pipelines/colbert_iris/sp/IVFIndex.cls
  iris_vector_rag/pipelines/colbert_iris/sp/PLAIDSearch.cls
  pyproject.toml
Due: none

chore: v0.10.0 — IVG 1.55.3
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

feat(070): BM25 + IVFFlat search paths in RAG.SDK.Search/Bridge — v0.10.1
  iris_src/src/RAG/SDK/Bridge.cls
  iris_src/src/RAG/SDK/Search.cls
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

chore: v0.10.2 — IVG 1.80.5, 51/51 tests pass
  iris_vector_rag/__init__.py
  iris_vector_rag/pipelines/colbert_iris/sp/Algorithms.cls
  iris_vector_rag/pipelines/colbert_iris/sp/Meta.cls
  iris_vector_rag/pipelines/colbert_iris/sp/NKGAccel.cls
  iris_vector_rag/pipelines/colbert_iris/sp/PageRank.cls
  iris_vector_rag/pipelines/colbert_iris/sp/Snapshot.cls
  iris_vector_rag/pipelines/colbert_iris/sp/Subgraph.cls
  iris_vector_rag/pipelines/colbert_iris/sp/Traversal.cls
  pyproject.toml
Due: none

fix: make pytest work out-of-the-box for new developers
  iris_vector_rag/api/middleware/__init__.py
  pytest.ini
  tests/api_tests/test_middleware_auth.py
  tests/api_tests/test_middleware_logging.py
  tests/api_tests/test_middleware_rate_limit.py
  tests/api_tests/test_routes_query.py
  tests/api_tests/test_service_auth.py
  tests/api_tests/test_service_document.py
  tests/api_tests/test_service_pipeline_manager.py
  tests/api_tests/test_websocket_handlers.py
  tests/conftest.py
  tests/unit/test_connection_api.py
  tests/unit/test_iris_llm_substrate.py
Due: error-message-quality

fix: delete 20 broken tests (all patched iris_rag.* — dead since v0.4.1 rename)
  tests/unit/test_embedding_cache.py
  tests/unit/test_graphrag_bug_fixes.py
  tests/unit/test_graphrag_entity_extraction_bug.py
  tests/unit/test_hybrid_graphrag.py
  tests/unit/test_pipelines_unit.py
  tests/unit/test_storage_service.py
Due: error-message-quality

refactor: delegate db_vector_utils to iris_vector_graph.dbapi_utils
  iris_vector_rag/common/db_vector_utils.py
  tests/unit/test_final_massive_coverage.py
Due: error-message-quality

chore: bump iris-vector-graph dependency to >=1.82.0
  pyproject.toml
Due: none

fix: root cause of 'did not yield a value' — 938 errors → 816 passed
  docker-compose.yml
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests_api/test_middleware_auth.py
  tests_api/test_middleware_logging.py
  tests_api/test_middleware_rate_limit.py
  tests_api/test_routes_query.py
  tests_api/test_service_auth.py
  tests_api/test_service_document.py
  tests_api/test_service_pipeline_manager.py
  tests_api/test_websocket_handlers.py
Due: error-message-quality

fix: complete test suite cleanup — 845 passed, 0 failures
  .github/workflows/ci.yml
  .sisyphus/ralph-loop.local.md
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/core/base.py
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/storage/vector_store_iris.py
  tests/contract/test_basic_rerank_fallback_mechanism.py
  tests/contract/test_coverage_contract.py
  tests/contract/test_embedding_generator_contract.py
  tests/contract/test_graph_inspector_contract.py
  tests/contract/test_graphrag_data_integrity_contract.py
  tests/contract/test_graphrag_monitoring_contract.py
  tests/contract/test_graphrag_performance_contract.py
  tests/contract/test_iris_connection_contract.py
  tests/contract/test_pytest_execution_contract.py
  tests/contract/test_ragas_validation_contract.py
  tests/fixtures/idt_cleanup.py
  tests/integration/test_batch_entity_processor_integration.py
  tests/integration/test_graphrag_batch_storage_retrieval.py
  tests/unit/test_connection_api.py
  tests_api/contract/test_auth_contracts.py
  tests_api/contract/test_document_contracts.py
  tests_api/contract/test_health_contracts.py
  tests_api/contract/test_pipeline_contracts.py
  tests_api/contract/test_query_contracts.py
  tests_api/contract/test_websocket_contracts.py
Due: tdd-compliance, error-message-quality

fix: deep test cleanup — 864 passed, 0 failures, real RAGAS
  .sisyphus/ralph-loop.local.md
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/pipelines/basic.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  scripts/simple_working_ragas.py
  tests/conftest.py
  tests/contract/test_embedding_generator_contract.py
  tests/contract/test_fixture_manager_contract.py
  tests/contract/test_pylate_colbert_dimension_validation.py
  tests/contract/test_pylate_colbert_error_handling.py
  tests/contract/test_pylate_colbert_fallback_mechanism.py
  tests/contract/test_pytest_plugin.py
  tests/contract/test_ragas_validation_contract.py
Due: tdd-compliance, error-message-quality

fix: reduce skips to 12 — implement ColBERT/rerank fallback, fix misc tests
  iris_vector_rag/pipelines/basic_rerank.py
  iris_vector_rag/pipelines/colbert_pylate/pylate_pipeline.py
  iris_vector_rag/pipelines/crag.py
  scripts/inspect_knowledge_graph.py
  tests/contract/test_entity_types_config.py
  tests/contract/test_graphrag_contract.py
Due: tdd-compliance, error-message-quality

refactor: delete dead code — 5,133 LOC removed, 149→108 files
  iris_vector_rag/api/cleanup_job.py
  iris_vector_rag/api/cli.py
  iris_vector_rag/api/mcp_routes.py
  iris_vector_rag/config/pipeline_config_service.py
  iris_vector_rag/config/validators.py
  iris_vector_rag/core/__init__.py
  iris_vector_rag/core/exceptions.py
  iris_vector_rag/core/response_standardizer.py
  iris_vector_rag/core/vector_store_exceptions.py
  iris_vector_rag/memory/__init__.py
  iris_vector_rag/memory/incremental_manager.py.disabled
  iris_vector_rag/memory/knowledge_extractor.py
  iris_vector_rag/memory/models.py
  iris_vector_rag/memory/rag_integration.py
  iris_vector_rag/memory/temporal_manager.py
  iris_vector_rag/pipelines/factory.py
  iris_vector_rag/storage/clob_handler.py
  iris_vector_rag/storage/hybrid_schema_manager.py
  iris_vector_rag/storage/iris_embedding_ops.py
  iris_vector_rag/storage/schema_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  iris_vector_rag/utils/module_loader.py
  iris_vector_rag/utils/project_root.py
  tests/test_temporal_manager.py
Due: error-message-quality

docs: rewrite README, add .env.example, simplify docker, remove AI artifacts
  AGENTS.md
  BUG_FIX_0.5.6_PACKAGE_REBUILD.md
  CLAUDE.md
  ENTITY_TYPES_FIX_SUMMARY.md
  README.md
  REGRESSION_FIX_VERIFIED.md
  docker-compose.yml
  iris_vector_rag/__init__.py
  iris_vector_rag/common/iris_sql_utils.py
Due: none

feat: end-to-end developer flow works — clone to RAGAS comparison
  README.md
  examples/compare_pipelines.py
  iris_vector_rag/__init__.py
  scripts/simple_working_ragas.py
  tests/contract/test_ragas_validation_contract.py
Due: tdd-compliance, error-message-quality

feat: add custom_pipeline.py example — develop and optimize your own RAG pipeline
  examples/custom_pipeline.py
Due: none

release: v0.11.0 — major cleanup for OpenExchange resubmission
  pyproject.toml
Due: none

fix: accurate package description — IRIS is the vector database
  pyproject.toml
Due: none

deps: update dependency bounds, remove transformers upper limits
  pyproject.toml
Due: none

release: v0.11.1 — dep bound updates from PR triage
  pyproject.toml
Due: none

fix: CI failure + all 28 npm security vulnerabilities resolved
  .github/workflows/ci.yml
  tools/nodejs/package-lock.json
  tools/nodejs/package.json
Due: none

fix: add iris-vector-graph to base dependencies (was only in extras)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: remove stale iris_rag/common imports in CI-executed conftest files
  tests/contract/test_pytest_execution_contract.py
  tests/unit/conftest.py
Due: tdd-compliance, error-message-quality

fix: unit tests pass in CI without OPENAI_API_KEY
  tests/unit/test_final_massive_coverage.py
Due: error-message-quality

release: v0.11.2
  pyproject.toml
Due: none

fix: IVG 1.88-1.96 compatibility + connection fail-fast + thread handling
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/embeddings/manager.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/multi_query_rrf.py
  pyproject.toml
  tests/contract/test_basic_error_handling.py
  tests/contract/test_basic_rerank_error_handling.py
  tests/contract/test_crag_error_handling.py
  tests/contract/test_diagnostic_logging_contract.py
  tests/contract/test_error_handling_contract.py
  tests/contract/test_pylate_colbert_error_handling.py
  tests/unit/test_final_massive_coverage.py
Due: tdd-compliance, error-message-quality

feat: IVG 1.96.2 upgrade — fixes gref MagicMock hang + use iris.dbapi.connect()
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/embeddings/manager.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  pyproject.toml
  tests/conftest.py
  tests/contract/test_basic_rerank_fallback_mechanism.py
  tests/contract/test_task_mapping_contract.py
  tests/contract/test_tdd_validation_contract.py
  tests/unit/conftest.py
Due: tdd-compliance, error-message-quality

release: v0.11.3
  pyproject.toml
Due: none

feat: update to iris-vector-graph>=2.1.0, add spec 074 configurable schema prefix
  .agents/skills/speckit-analyze/SKILL.md
  .agents/skills/speckit-checklist/SKILL.md
  .agents/skills/speckit-clarify/SKILL.md
  .agents/skills/speckit-constitution/SKILL.md
  .agents/skills/speckit-git-commit/SKILL.md
  .agents/skills/speckit-git-feature/SKILL.md
  .agents/skills/speckit-git-initialize/SKILL.md
  .agents/skills/speckit-git-remote/SKILL.md
  .agents/skills/speckit-git-validate/SKILL.md
  .agents/skills/speckit-implement/SKILL.md
  .agents/skills/speckit-plan/SKILL.md
  .agents/skills/speckit-specify/SKILL.md
  .agents/skills/speckit-tasks/SKILL.md
  .agents/skills/speckit-taskstoissues/SKILL.md
  AGENTS.md
  iris_vector_rag/integrations/__init__.py
  iris_vector_rag/integrations/ivg.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  iris_vector_rag/pipelines/hybrid_graphrag_discovery.py
  iris_vector_rag/storage/schema_manager.py
  pyproject.toml
  specs/074-configurable-schema-prefix/spec.md
  tests/contract/test_graph_schema_initialization.py
  tests/contract/test_graph_schema_validation.py
  tests/contract/test_import_requirements.py
  tests/unit/test_schema_initialization.py
Due: tdd-compliance, task-mapping, error-message-quality

release: v0.11.4 — iris-embedded-python-wrapper consolidation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  iris_vector_rag/common/connection_pool.py
  iris_vector_rag/common/iris_connection.py
  iris_vector_rag/common/utils.py
  iris_vector_rag/pipelines/colbert_iris/plaid.py
  iris_vector_rag/pipelines/colbert_iris/vecindex_phase2.py
  iris_vector_rag/pipelines/hybrid_graphrag.py
  pyproject.toml
  tests/contract/test_iris_connection_contract.py
  tests/unit/test_connection_api.py
Due: tdd-compliance, error-message-quality

feat: add module.xml IPM manifest for OpenExchange listing
  module.xml
Due: none

feat: add pip install hook to module.xml so zpm install installs Python package
  iris_src/src/RAG/SDK/Schema.cls
  module.xml
Due: none

docs: add release notes for v0.11.4 (from OEX 1.0.1)
  RELEASE_NOTES_v0.11.4.md
Due: none

fix: replace em-dashes with ASCII -- in module.xml (XSLT rejects non-ASCII)
  module.xml
Due: none

docs: rewrite USER_GUIDE, move dev docker-compose files, annotate docker-compose.yml
  .dev/docker-compose.licensed.yml
  .dev/docker-compose.test.yml
  docker-compose.yml
  docs/USER_GUIDE.md
Due: none

Path conditions:
  tdd-compliance: any of: tests/contract/.*\.py$|tests/.*_contract\.py$
  task-mapping: any of: (spec|tasks)\.md$
  error-message-quality: any of: tests/.*\.py$
