Repository intersystems-community/iris-vector-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: tdd-compliance, task-mapping, error-message-quality

tdd-compliance:
  name: TDD Compliance Check
  entry: python scripts/validate_tdd_compliance.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - GitPython
  verbose: true
  always_run: false

task-mapping:
  name: Requirement-Task Mapping Check
  entry: python scripts/validate_task_mapping.py
  language: python
  pass_filenames: false
  verbose: true
  always_run: false

error-message-quality:
  name: Error Message Quality Reminder
  entry: echo "Remember to use three-part error messages (what/why/action) in test assertions!"
  language: system
  pass_filenames: false
  always_run: false

docs: add Feature 051 completion summary
  specs/051-add-native-iris/FEATURE_COMPLETE.md
Due: none

docs: update changelog [skip ci]
  CHANGELOG.md
Due: none

fix(graphrag): fix false negative entity extraction validation bug
  iris_rag/pipelines/graphrag.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

feat(embeddings): add module-level cache for SentenceTransformer models
  CHANGELOG.md
  PUBLIC_SYNC_SETUP_COMPLETE.md
  config/memory_config.yaml
  docs/PUBLIC_REPOSITORY_SYNC.md
  iris_rag/embeddings/manager.py
  redaction_changes.json
  scripts/redact_for_public.py
  scripts/sync_to_public.sh
  tests/integration/test_embedding_cache_reuse.py
  tests/unit/test_embedding_cache.py
  tests/unit/test_graphrag_entity_extraction_bug.py
Due: error-message-quality

gitignore tracking files
  .gitignore
Due: none

fix: rebuild package correctly with proper structure (v0.5.1)
  CHANGELOG.md
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

feat: GraphRAG batch storage optimization - 4000x performance improvement
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  iris_rag/pipelines/iris_global_graphrag.py
  iris_rag/services/batch_entity_processor.py
  iris_rag/services/storage.py
  specs/057-graphrag-performance-fix/checklists/requirements.md
  specs/057-graphrag-performance-fix/contracts/data_integrity_contracts.yaml
  specs/057-graphrag-performance-fix/contracts/monitoring_contracts.yaml
  specs/057-graphrag-performance-fix/contracts/performance_contracts.yaml
  specs/057-graphrag-performance-fix/data-model.md
  specs/057-graphrag-performance-fix/plan.md
  specs/057-graphrag-performance-fix/quickstart.md
  specs/057-graphrag-performance-fix/research.md
  specs/057-graphrag-performance-fix/spec.md
  specs/057-graphrag-performance-fix/tasks.md
  tests/contract/test_graphrag_data_integrity_contract.py
  tests/contract/test_graphrag_monitoring_contract.py
  tests/contract/test_graphrag_performance_contract.py
  tests/integration/test_graphrag_batch_storage_retrieval.py
Due: tdd-compliance, task-mapping, error-message-quality

feat: Feature 058 - Cloud configuration flexibility with integration tests
  CHANGELOG.md
  config/examples/README.md
  config/examples/aws.yaml
  config/examples/azure.yaml
  config/examples/local.yaml
  iris_vector_rag/config/entities.py
  iris_vector_rag/config/manager.py
  iris_vector_rag/config/validators.py
  pyproject.toml
  specs/058-number-058-short/checklists/requirements.md
  specs/058-number-058-short/contracts/test_cloud_config_contract.py
  specs/058-number-058-short/data-model.md
  specs/058-number-058-short/plan.md
  specs/058-number-058-short/quickstart.md
  specs/058-number-058-short/research.md
  specs/058-number-058-short/spec.md
  specs/058-number-058-short/tasks.md
Due: task-mapping

fix: Replace intersystems_iris.dbapi._DBAPI with iris.dbapi imports
  iris_vector_rag/common/connection_pool.py
  scripts/fix_entities_foreign_key.py
  specs/058-number-058-short/contracts/test_cloud_config_contract.py
Due: none

fix: Complete DBAPI import fix - replace Connection type hints with Any
  iris-test-config.yml
  iris_vector_rag/common/connection_pool.py
Due: none

docs: add pytest module resolution requirement to constitution
  .specify/memory/constitution.md
Due: none

fix: SchemaManager now reads vector_dimension from CloudConfiguration
  iris_vector_rag/storage/schema_manager.py
Due: none

test: add CloudConfiguration integration tests for Feature 058
  tests/integration/test_cloud_config_integration.py
Due: error-message-quality

chore: bump version to 0.5.3
  CHANGELOG.md
  iris_vector_rag/__init__.py
  pyproject.toml
Due: none

fix: add entity_types parameter to extract_batch_with_dspy (Feature 062)
  CHANGELOG.md
  iris_vector_rag/__init__.py
  iris_vector_rag/services/entity_extraction.py
  pyproject.toml
  specs/062-fix-iris-vector/contracts/entity_types_api_contract.md
  specs/062-fix-iris-vector/data-model.md
  specs/062-fix-iris-vector/plan.md
  specs/062-fix-iris-vector/quickstart.md
  specs/062-fix-iris-vector/research.md
  specs/062-fix-iris-vector/spec.md
  specs/062-fix-iris-vector/tasks.md
  tests/contract/test_entity_types_config.py
  tests/fixtures/entity_types_test_data.py
Due: tdd-compliance, task-mapping, error-message-quality

docs: add author attribution to README
  README.md
Due: none

docs: add comprehensive IRIS EMBEDDING performance report
  docs/IRIS_EMBEDDING_PERFORMANCE_REPORT.md
Due: none

docs: document v0.5.6 package rebuild resolution
  BUG_FIX_0.5.6_PACKAGE_REBUILD.md
  REGRESSION_FIX_VERIFIED.md
Due: none

feat: add configurable entity types for domain-specific extraction (v0.5.7)
  CHANGELOG.md
  iris_vector_rag/__init__.py
  iris_vector_rag/dspy_modules/batch_entity_extraction.py
  iris_vector_rag/services/entity_extraction.py
  pyproject.toml
  tests/contract/test_entity_types_batch_extraction.py
Due: tdd-compliance, error-message-quality

docs: add comprehensive fix summary for entity types configuration (v0.5.7)
  ENTITY_TYPES_FIX_SUMMARY.md
Due: none

feat: enterprise enhancements phase 1 & 2 (setup and foundation)
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  iris_vector_rag/config/default_config.yaml
  iris_vector_rag/exceptions.py
  iris_vector_rag/monitoring/__init__.py
  iris_vector_rag/security/__init__.py
  iris_vector_rag/storage/constants.py
  pyproject.toml
  specs/051-enterprise-enhancements/checklists/requirements.md
  specs/051-enterprise-enhancements/contracts/batch_operations.yaml
  specs/051-enterprise-enhancements/contracts/collection_management.yaml
  specs/051-enterprise-enhancements/contracts/metadata_filtering.yaml
  specs/051-enterprise-enhancements/contracts/monitoring.yaml
  specs/051-enterprise-enhancements/contracts/rbac_integration.yaml
  specs/051-enterprise-enhancements/data-model.md
  specs/051-enterprise-enhancements/plan.md
  specs/051-enterprise-enhancements/quickstart.md
  specs/051-enterprise-enhancements/research.md
  specs/051-enterprise-enhancements/spec.md
  specs/051-enterprise-enhancements/tasks.md
  specs/feature_enterprise_enhancements.md
  specs/feature_opentelemetry_integration.md
Due: task-mapping

feat: implement search_entities method for fuzzy entity matching
  iris_vector_rag/services/storage.py
Due: none

feat: add enhanced logging for entity storage debugging
  iris_vector_rag/services/batch_entity_processor.py
Due: none

fix: implement search_entities with SQL LIKE for fuzzy matching
  iris_vector_rag/services/storage.py
Due: none

fix: resolve entity storage FK validation failures (v0.5.8)
  docs/CHANGELOG.md
  iris_vector_rag/pipelines/graphrag.py
  pyproject.toml
Due: none

feat: add custom metadata filtering for multi-tenant RAG deployments
  iris_vector_rag/common/iris_dbapi_connector.py
  iris_vector_rag/config/manager.py
  iris_vector_rag/storage/constants.py
  iris_vector_rag/storage/metadata_filter_manager.py
  iris_vector_rag/storage/vector_store_iris.py
  pyproject.toml
  tests/conftest.py
  tests/contract/test_metadata_filtering_contract.py
Due: tdd-compliance, error-message-quality

Path conditions:
  tdd-compliance: any of: tests/contract/.*\.py$|tests/.*_contract\.py$
  task-mapping: any of: (spec|tasks)\.md$
  error-message-quality: any of: tests/.*\.py$
